
<header id="header" class="">
		<!-- <div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-sm-6 col-4 no-padding">
						<div class="header-top-left">
							<a href="">
								
								
							</a>
						</div>
					</div>
					<div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
						<ul>
							<li><a href=""><i class="fa fa-facebook"></i></a></li>
							<li><a href=""><i class="fa fa-twitter"></i></a></li>
							<li><a href=""><i class="fa fa-dribbble"></i></a></li>
							<li><a href=""><i class="fa fa-behance"></i></a></li>
						</ul>
						<ul>
							<li style="margin-left: 7px">
								<a href="">बीमा सलाह</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div> -->
		<div class="container main-menu">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo" class="data" >
					<img src="./assets/img/logo.png" alt="" title="" (click) = indexfun() >
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
						<li class="menu-active data" (click) = indexfun()>मुख्य पृष्ट</li>
						<li class="data">वीडियो</li>
						<li class ="data" (click)= myfunction()>हमारे बारे में</li>
						<li class="menu-has-children sf-with-ul data ">इंश्योरेंस
							<ul style="display: none;">
								<li><a href="">जीवन बीमा</a></li>
								<li><a href="">कार बीमा</a></li>
								<li><a href="">स्वास्थ्य बीमा</a></li>
								<li><a href="">घर बीमा</a></li>
								<li><a href="">यात्रा बीमा</a></li>
								<li><a href="">मोटर साइकिल बीमा</a></li>
								<li><a href="">अन्य बीमा</a></li>
							</ul>
						</li>
						
						<li class="data" (click) = contactfun()>सम्पर्क</li>
					</ul>
				</nav>
				<!--######## #nav-menu-container -->
			</div>
		</div>
	</header>
