<section class="blog-banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row  text-center d-flex align-items-center justify-content-center" style="height:400px">
			<div class="banner-content col-lg-9 col-md-12">
				<h1 class="text-uppercase">
					Dude You’re Getting <br> a Telescope
				</h1>
				<p class="text-white">There is a moment in the life of any aspiring astronomer that it is time to buy that first
				</p>

			</div>
		</div>
	</div>
</section>


<section class="post-content-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="widget-wrap" style="background: transparent; border:none; padding: 0; margin: 10px 0">
					<div class="single-sidebar-widget tag-cloud-widget" style="padding: 0; margin: 0">

						<ul *ngFor="let myfunc of idtext">
							<li style="float:left"><a href="#">{{myfunc.name}}</a></li>
							<!-- <li><a href="#">Fashion</a></li>
							<li><a href="#">Architecture</a></li>
							<li><a href="#">Fashion</a></li>
							<li><a href="#">Food</a></li>
							<li><a href="#">Technology</a></li>
							<li><a href="#">Lifestyle</a></li>
							<li><a href="#">Art</a></li>
							<li><a href="#">Adventure</a></li>
							<li><a href="#">Food</a></li>
							<li><a href="#">Lifestyle</a></li>
							<li><a href="#">Adventure</a></li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">

			<div class="col-md-2">
				<div class="widget-wrap">
					<div class="single-sidebar-widget post-category-widget">
						<h4 class="category-title">Catgories</h4>
						<ul class="cat-list" *ngFor="let myfunc of data">
							<li>
								<a class="d-flex justify-content-between">
									<p class="data" (click)="catgoriesbase(myfunc)"> {{myfunc.title}}</p>

								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-6 posts-list">
				<div class="single-post row" *ngFor="let article of newarticle">

					<div class="col-lg-12 col-md-12 ">
						<div class="feature-img">
							<img class="img-fluid addvaluedata" src="{{article.image}}" alt="">
						</div>
						<div class="row">
							<div class="col-md-10">
								<a class="posts-title" [href]="'/articlesingle/'+article._id">
									<h3>{{article.posttitle}}</h3>
								</a>
							</div>
							<div class="col-md-2" style="padding-top: 25px;">
								<p><span class="lnr lnr-heart data" style="margin-right: 10px;" (click)="addLikes(article._id)" *ngIf=" article && article.likes && article.likes.length >= 0 "></span>{{article.likes.length}} likes</p>
							</div>
						</div>
						<p>{{article.type}}</p>
						<div class=" meta-details">
							<!--							<ul class="tags">
								<li><a href="#">Food,</a></li>
								<li><a href="#">Technology,</a></li>
								<li><a href="#">Politics,</a></li>
								<li><a href="#">Lifestyle</a></li>
							</ul>-->
							<!-- <ul class="user-details">
                                                                
								<li class="user-name "><span class="lnr lnr-user"></span> <a href="#">Mark wiens</a> </li>
								<li class="date "><span class="lnr lnr-calendar-full"></span> <a href="#">12 Dec, 2017</a> </li>
								<li class="view"><span class="lnr lnr-eye"></span><a href="#"> 1.2M Views</a></li>
								<li class="comments"><span class="lnr lnr-bubble"></span><a href="#"> 06 Comments</a> </li>
							</ul> -->
							<div class="row">
								<div class="col-md-3">

									<p class="leftside"><span class="lnr lnr-user"></span> {{article.name}} </p>
								</div>

								<div class="col-md-3">

									<p class="leftside"><span class="lnr lnr-calendar-full"></span> {{article.created_at | date : "dd MMM yyyy"}}
									</p>
								</div>


								<div class="col-md-3">

									<p class="leftside"><span class="lnr lnr-eye mr-1" *ngIf=" article && article.comments && article.comments.length >= 0 "></span>{{article.comments.length}}
									</p>
								</div>

								<div class="col-md-3">

									<p class="leftside"><span class="lnr lnr-bubble mr-1" *ngIf=" article && article.comments && article.comments.length >= 0 "></span>{{article.comments.length}}
									</p>
								</div>


							</div>


						</div>




						<p class="excert" [innerHTML]="article.description_new">

						</p>
						<a (click)="singlename(article)" class="primary-btn">View More</a>
					</div>
				</div>
				<!--	<div class="single-post row">
						
						<div class="col-lg-12 col-md-12 ">
							<div class="feature-img">
								<img class="img-fluid" src="./assets/img/blog/feature-img1.jpg" alt="">
							</div>
							<a class="posts-title" href="blog-single.html"><h3>Astronomy Binoculars A Great Alternative</h3></a>
                                                        <p>Life Insurance, Car Insurance</p>
                                                        <div class=" meta-details">
							<ul class="tags">
								<li><a href="#">Food,</a></li>
								<li><a href="#">Technology,</a></li>
								<li><a href="#">Politics,</a></li>
								<li><a href="#">Lifestyle</a></li>
							</ul>
							<ul class="user-details ">
                                                                
								<li class="user-name "><span class="lnr lnr-user"></span> <a href="#">Mark wiens</a> </li>
								<li class="date "><span class="lnr lnr-calendar-full"></span> <a href="#">12 Dec, 2017</a> </li>
								<li class="view"><span class="lnr lnr-eye"></span><a href="#"> 1.2M Views</a></li>
								<li class="comments"><span class="lnr lnr-bubble"></span><a href="#"> 06 Comments</a> </li>
							</ul>
						</div>
                                                        
                                                        <p class="excert">
								MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money
								on boot camp when you can get the MCSE study materials yourself at a fraction.
							</p>
							<a href="#" class="primary-btn">View More</a>
						</div>
					</div>
				  <div class="single-post row">
						
						<div class="col-lg-12 col-md-12 ">
							<div class="feature-img">
								<img class="img-fluid" src="./assets/img/blog/feature-img1.jpg" alt="">
							</div>
							<a class="posts-title" href="blog-single.html"><h3>Astronomy Binoculars A Great Alternative</h3></a>
                                                        <p>Life Insurance, Car Insurance</p>
                                                        <div class=" meta-details">
							<ul class="tags">
								<li><a href="#">Food,</a></li>
								<li><a href="#">Technology,</a></li>
								<li><a href="#">Politics,</a></li>
								<li><a href="#">Lifestyle</a></li>
							</ul>
							<ul class="user-details ">
                                                                
								<li class="user-name "><span class="lnr lnr-user"></span> <a href="#">Mark wiens</a> </li>
								<li class="date "><span class="lnr lnr-calendar-full"></span> <a href="#">12 Dec, 2017</a> </li>
								<li class="view"><span class="lnr lnr-eye"></span><a href="#"> 1.2M Views</a></li>
								<li class="comments"><span class="lnr lnr-bubble"></span><a href="#"> 06 Comments</a> </li>
							</ul>
						</div>
                                                        
                                                        <p class="excert">
								MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money
								on boot camp when you can get the MCSE study materials yourself at a fraction.
							</p>
							<a href="#" class="primary-btn">View More</a>
						</div>
					</div> 
					<div class="single-post row">
						
						<div class="col-lg-12 col-md-12 ">
							<div class="feature-img">
								<img class="img-fluid" src="./assets/img/blog/feature-img1.jpg" alt="">
							</div>
							<a class="posts-title" href="blog-single.html"><h3>Astronomy Binoculars A Great Alternative</h3></a>
                                                        <p>Life Insurance, Car Insurance</p>
                                                        <div class=" meta-details">
							<ul class="tags">
								<li><a href="#">Food,</a></li>
								<li><a href="#">Technology,</a></li>
								<li><a href="#">Politics,</a></li>
								<li><a href="#">Lifestyle</a></li>
							</ul>
							<ul class="user-details ">
                                                                
								<li class="user-name "><span class="lnr lnr-user"></span> <a href="#">Mark wiens</a> </li>
								<li class="date "><span class="lnr lnr-calendar-full"></span> <a href="#">12 Dec, 2017</a> </li>
								<li class="view"><span class="lnr lnr-eye"></span><a href="#"> 1.2M Views</a></li>
								<li class="comments"><span class="lnr lnr-bubble"></span><a href="#"> 06 Comments</a> </li>
							</ul>
						</div>
                                                        
                                                        <p class="excert">
								MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money
								on boot camp when you can get the MCSE study materials yourself at a fraction.
							</p>
							<a href="#" class="primary-btn">View More</a>
						</div>
					</div>-->

				<nav class="blog-pagination justify-content-center d-flex">
					<ul class="pagination">
						<li class="page-item">
							<a href="#" class="page-link" aria-label="Previous">
								<span aria-hidden="true">
									<span class="lnr lnr-chevron-left"></span>
								</span>
							</a>
						</li>
						<li class="page-item"><a href="#" class="page-link">01</a></li>
						<li class="page-item active"><a href="#" class="page-link">02</a></li>
						<li class="page-item"><a href="#" class="page-link">03</a></li>
						<li class="page-item"><a href="#" class="page-link">04</a></li>
						<li class="page-item"><a href="#" class="page-link">09</a></li>
						<li class="page-item">
							<a href="#" class="page-link" aria-label="Next">
								<span aria-hidden="true">
									<span class="lnr lnr-chevron-right"></span>
								</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-lg-4 sidebar-widgets">
				<div class="widget-wrap">
					<div class="single-sidebar-widget popular-post-widget">
						<h4 class="popular-title">Popular Posts</h4>
						<div class="popular-post-list">
							<div class="single-post-list d-flex flex-row align-items-center" *ngFor="let newpost of newpost">

								<div class="thumb">
									<img class="img-fluid newvalue" src={{newpost.image}} alt="">
								</div>
								<div class="details">
									<a href="">
										<h6>{{newpost.posttitle}}</h6>
									</a>
									<p>{{newpost.time}}</p>
								</div>

							</div>
							<!-- <div class="single-post-list d-flex flex-row align-items-center">
									<div class="thumb">
										<img class="img-fluid" src="./assets/img/blog/pp2.jpg" alt="">
									</div>
									<div class="details">
										<a href="blog-single.html"><h6>The Amazing Hubble</h6></a>
										<p>02 Hours ago</p>
									</div>
								</div> 
								<div class="single-post-list d-flex flex-row align-items-center">
									<div class="thumb">
										<img class="img-fluid" src="./assets/img/blog/pp3.jpg" alt="">
									</div>
									<div class="details">
										<a href="blog-single.html"><h6>Astronomy Or Astrology</h6></a>
										<p>02 Hours ago</p>
									</div>
								</div>
								<div class="single-post-list d-flex flex-row align-items-center">
									<div class="thumb">
										<img class="img-fluid" src="./assets/img/blog/pp4.jpg" alt="">
									</div>
									<div class="details">
										<a href="blog-single.html"><h6>Asteroids telescope</h6></a>
										<p>02 Hours ago</p>
									</div>
								</div>-->
						</div>
					</div>
					<div class="single-sidebar-widget ads-widget">
						<div class="single-news card">
							<iframe class="card-top-img" [src]="mediaurl | safe" height="280" frameborder="0" allowfullscreen></iframe>
							<div class="card-body">
								<h4 class="card-title">
									<a href="#">
										Expert: इंश्योरेंस क्या है ... और क्यों लेना चाहिये ?
									</a>
								</h4>

							</div>
						</div>
					</div>

					<div class="single-sidebar-widget post-category-widget">
						<h4 class="category-title">Post Catgories</h4>
						<ul class="cat-list" *ngFor="let myfunc of idtext">
							<li>
								<a href="" class="d-flex justify-content-between">
									<p>{{myfunc.name}}</p>
									<p>37</p>
								</a>
							</li>
							<!-- <li>
								<a href="#" class="d-flex justify-content-between">
									<p>Lifestyle</p>
									<p>24</p>
								</a>
							</li> 
							<li>
								<a href="#" class="d-flex justify-content-between">
									<p>Fashion</p>
									<p>59</p>
								</a>
							</li>
							<li>
								<a href="#" class="d-flex justify-content-between">
									<p>Art</p>
									<p>29</p>
								</a>
							</li> 
							<li>
								<a href="#" class="d-flex justify-content-between">
									<p>Food</p>
									<p>15</p>
								</a>
							</li> 
							<li>
								<a href="#" class="d-flex justify-content-between">
									<p>Architecture</p>
									<p>09</p>
								</a>
							</li> 
							<li>
								<a href="#" class="d-flex justify-content-between">
									<p>Adventure</p>
									<p>44</p>
								</a>
							</li>-->
						</ul>
					</div>
					<div class="single-sidebar-widget ads-widget">
						<a href="#"><img class="img-fluid" src="./assets/img/ad_8.jpg" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="testimonial-area feedback" style="height: 377px;">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12" style="padding: 0">
				<div class="main-title">
					<h1>आपके फीडबैक </h1>

				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-md-4">
				<div class="media back-data" style="width: 360px;height: 204px;">
					<img class="mr-3 box-data-value" src="./assets/img/user1.png" alt="Generic placeholder image">
					<div class="media-body">

						<p style="margin-top:20px">
							Accessories Here you can find the best computer accessory for your laptop, monitor,
							printer, scanner, speaker, projector,
							hardware.
						</p>
						<h5>Mark Alviro Wiens</h5>

						<p> CEO at Google</p>

					</div>

				</div>

			</div>


			<div class="col-md-4">
				<div class="media back-data" style="width: 360px;height: 204px;">
					<img class="mr-3 box-data-value" src="./assets/img/user2.png" alt="Generic placeholder image">
					<div class="media-body">

						<p style="margin-top:20px">
							Accessories Here you can find the best computer accessory for your laptop, monitor,
							printer, scanner, speaker, projector,
							hardware.
						</p>
						<h5>Lina Harrington</h5>

						<p> CEO at Google</p>

					</div>

				</div>

			</div>

			<div class="col-md-4">
				<div class="media back-data" style="width: 360px;height: 204px;">
					<img class="mr-3 box-data-value" src="./assets/img/user1.png" alt="Generic placeholder image">
					<div class="media-body">

						<p style="margin-top:20px">
							Accessories Here you can find the best computer accessory for your laptop, monitor,
							printer, scanner, speaker, projector,
							hardware.
						</p>
						<h5>Mark Alviro Wiens</h5>

						<p> CEO at Google</p>

					</div>

				</div>

			</div>

			<!-- <div class="col-md-4">
                                    <div class="media back-data"style="width: 360px;height: 204px;">
                                        <img class="mr-3 box-data-value" src="./assets/img/user2.png" alt="Generic placeholder image">
                                        <div class="media-body">
                
                                            <p style="margin-top:20px">
                                                Accessories Here you can find the best computer accessory for your laptop, monitor,
                                                printer, scanner, speaker, projector,
                                                hardware.
                                            </p>
                                            <h5>Lina Harrington</h5>
                
                                            <p> CEO at Google</p>
                
                                        </div>
                
                                    </div>
                
                                </div>
    
    
                  <div class="single-testimonial item d-flex flex-row">
                        <div class="thumb">
                            <img src="./assets/img/user2.png" alt="" style="width: auto; height: 60px">
                        </div>
                        <div class="desc">
                            <p>
                                Accessories Here you can find the best computer accessory for your laptop, monitor,
                                printer, scanner, speaker, projector,
                                hardware.
                            </p>
                            <h4 mt-30>Lina Harrington</h4>
                            <p class="mb-0">CEO at Google</p>
                        </div>
                    </div>
                    <div class="single-testimonial item d-flex flex-row">
                        <div class="thumb">
                            <img src="./assets/img/user1.png" alt="" style="width: auto; height: 60px">
                        </div>
                        <div class="desc">
                            <p>
                                Accessories Here you can find the best computer accessory for your laptop, monitor,
                                printer, scanner, speaker, projector,
                                hardware.
                            </p>
                            <h4 mt-30>Mark Alviro Wiens</h4>
                            <p class="mb-0">CEO at Google</p>
                        </div>
                    </div>
                    <div class="single-testimonial item d-flex flex-row">
                        <div class="thumb">
                            <img src="./assets/img/user2.png" alt="" style="width: auto; height: 60px">
                        </div>
                        <div class="desc">
                            <p>
                                Accessories Here you can find the best computer accessory for your laptop, monitor,
                                printer, scanner, speaker, projector,
                                hardware.
                            </p>
                            <h4 mt-30>Lina Harrington</h4>
                            <p class="mb-0">CEO at Google</p>
                        </div>
                    </div>-->

		</div>
	</div>
</section>

<section class="section-subscribe">
	<div class="container">
		<div class="row">
			<h3 style="text-align: center; font-weight: 600; margin-top: 40px; display: block; width: 100%">न्यूज़लेटर सब्सक्राइब
				करे </h3>
			<div class="col-md-10" style="float: none; margin: auto">
				<div id="mc_embed_signup">
					<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
					 method="get" class="form-inline">

						<div class="form-group row" style="width: 100%">
							<div class="col-lg-9 col-md-9">
								<input name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address'"
								 required="" type="email">
								<div style="position: absolute; left: -5000px;">
									<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
								</div>
							</div>

							<div class="col-lg-3 col-md-3">
								<button class="nw-btn primary-btn">Subscribe<span class="lnr lnr-arrow-right"></span></button>
							</div>
						</div>
						<div class="info"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
