<section class="banner-area relative" id="home" style="background-image: url('./assets/img/bgfeedback.jpg')">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-8 col-md-8 col-sm-12">
                <h1 class="text-white text-uppercase">
                    सम्पर्क करे
                </h1>
                <p class="text-white link-nav"><a href="index.html">मुख्य पृष्ट </a>

                    <span class="lnr lnr-arrow-right"></span>
                    <a href="#">
                        सम्पर्क करे </a>
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home-banner-ad" style="padding-right: 0">
                    <div class="banner-ads slick-initialized slick-slider slick-dotted">
                            <div class="slick-list draggable">
                                    <div class="slick-track" style="opacity: 1; width: 1095px; transform: translate3d(0px, 0px, 0px);">
                                            <div class="slick-slide slick-current slick-active"
                                                    data-slick-index="0" aria-hidden="false" role="tabpanel"
                                                    id="slick-slide00" style="width: 365px;">
                                                    <div>
                                                            <div class="ad" style="width: 100%; display: inline-block;">
                                                                    <a href=""
                                                                            tabindex="0"><img class="img-fluid"
                                                                                    src="./assets/img/ad_4.jpeg"></a>
                                                            </div>
                                                    </div>
                                            </div>
                                             <div class="slick-slide" data-slick-index="1" aria-hidden="true"
                                                    tabindex="-1" role="tabpanel" id="slick-slide01" style="width: 365px;">
                                                    <div>
                                                            <div class="ad" style="width: 100%; display: inline-block;">
                                                                    <a href=""
                                                                            tabindex="-1"><img src="./assets/img/ad_4.jpeg"></a>
                                                            </div>
                                                    </div>
                                            </div>
                                            <div class="slick-slide" data-slick-index="2" aria-hidden="true"
                                                    tabindex="-1" role="tabpanel" id="slick-slide02" style="width: 365px;">
                                                    <div>
                                                            <div class="ad" style="width: 100%; display: inline-block;">
                                                                    <a href=""
                                                                            tabindex="-1"><img src="./assets/img/ad_4.jpeg"></a>
                                                            </div>
                                                    </div>
                                            </div> 
                                    </div>
                            </div>
                            <ul class="slick-dots" style="display: block;" role="tablist">
                                    <li class="slick-active" role="presentation"><button type="button" role="tab"
                                                    id="slick-slide-control00" aria-controls="slick-slide00"
                                                    aria-label="1 of 3" tabindex="0" aria-selected="true">1</button></li>
                                    <li role="presentation"><button type="button" role="tab" id="slick-slide-control01"
                                                    aria-controls="slick-slide01" aria-label="2 of 3"
                                                    tabindex="-1">2</button></li>
                                    <li role="presentation"><button type="button" role="tab" id="slick-slide-control02"
                                                    aria-controls="slick-slide02" aria-label="3 of 3"
                                                    tabindex="-1">3</button></li>
                            </ul>
                    </div>
            </div>
        </div>
    </div>
</section>




<section class="contact-page-area " style="padding:20px 0 0 0">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12" style="padding: 0">
                <div class="mapouter">
                    <div class="gmap_canvas" style="width:100%"><iframe style="width:100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=india%20mumbai&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de/wordpress-agentur/"></a></div>
                    <style>.mapouter{text-align:right;height:500px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>
                </div>
            </div>

            <div class="col-lg-6" style="border-right: 1px solid #eee; margin-top:15px; padding:0; padding-bottom: 40px">
                <h3 style="background: #3face4; color:#fff; padding: 10px 15px; text-transform: uppercase; font-size: 18px; font-weight: 600"><i
                        style="color:#17497a" class="fa fa-angle-right"></i>&nbsp;&nbsp;सम्पर्क फॉर्म </h3><br>
                <form class="form-area contact-form text-right" id="myForm" action="mail.php" method="post" style="padding: 0 15px">
                    <div class="row">
                        <div class="col-lg-6">
                            <input name="name" placeholder="आपका नाम " onfocus="this.placeholder = ''" onblur="this.placeholder = 'आपका नाम '"
                                class="common-input mb-20 form-control" required="" type="text">
                        </div>
                        <div class="col-lg-6">
                            <input name="email" placeholder="आपका ईमेल" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'आपका ईमेल '" class="common-input mb-20 form-control"
                                required="" type="email">
                        </div>
                        <div class="col-lg-12">
                            <input name="subject" placeholder="विषय" onfocus="this.placeholder = ''" onblur="this.placeholder = 'विषय '"
                                class="common-input mb-20 form-control" required="" type="text">
                        </div>


                        <div class="col-lg-12">
                            <textarea class="common-textarea form-control" name="message" placeholder="सन्देश " onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Enter Messege'" required=""></textarea>
                        </div>

                        <div class="col-lg-12 text-left mt-10">
                            <input type="checkbox"> हाँ, मैं प्राइवेसी कथन जो <a href="#">शर्ते और पॉलिसीस</a> में लिखे
                            गए है उनसे सहमत हु
                        </div>
                        <div class="col-lg-12 mt-30 text-left">
                            <div class="alert-msg" style="text-align: left;"></div>
                            <button class="primary-btn primary">भेजें </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-6 d-flex flex-column address-wrap" style="padding:0;margin-top:15px;padding-bottom: 40px">
                <h3 style="background: #3face4; color:#fff; padding: 10px 15px;  text-transform: uppercase; font-size: 18px; font-weight: 600"><i
                        style="color:#17497a" class="fa fa-angle-right"></i>&nbsp;&nbsp;सम्पर्क करे</h3><br>
                <div class="single-contact-address d-flex flex-row" style="padding: 0 15px">
                    <!--						<div class="icon">
                        <span class="lnr lnr-home"></span>
                    </div>-->
                    <div class="contact-details">
                        <br>
                        <h5>पता </h5>
                        <p>
                            <b>सही सॉलूशन्स </b><br>
                            1003, बी , माउंट एवेरेस्ट , भक्ति पार्क,
                            वडाला - ईस्ट, मुंबई – 400 037

                        </p>
                    </div>
                </div>
                <div class="single-contact-address d-flex flex-row" style="padding: 0 15px">
                    <!--						<div class="icon">
                        <span class="lnr lnr-phone-handset"></span>
                    </div>-->

                    <div class="contact-details">
                        <h5>ईमेल </h5>
                        <p>contact@sahibima.com</p>
                    </div>
                </div>
                <div class="single-contact-address d-flex flex-row" style="padding: 0 15px">
                    <!--						<div class="icon">
                        <span class="lnr lnr-envelope"></span>
                    </div>-->
                    <div class="contact-details">
                        <h5>कंपनी नंबर </h5>
                        <p>022 – 12345678</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>