<div class="margin-333" style = "display:none"> 
    <table class="cart-table default-bg mat-elevation-z1" 
    *ngIf="cart.length" 
    [@animate]="{value:'*',params:{delay: '100ms', x:'-50px'}}">
      <thead>
        <tr>
          <th class="text-muted">Remove</th>
          <th class="text-muted">Thumbnail</th>
          <th class="text-muted">Product</th>
          <th class="text-muted">Price</th>
          <th class="text-muted">Quantity</th>
          <th class="text-muted">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart">
          <td><button mat-icon-button color="warn" (click)="removeProduct(item)"><mat-icon>close</mat-icon></button> </td>
          <td><img class="cart-thumbnail" [src]="item.product.photo" style="cursor: pointer" [routerLink]="['/shop/products', item.product._id]"></td>
          <td><span style="cursor: pointer" [routerLink]="['/shop/products', item.product._id]">{{item.product.name}}</span></td>
          <td>{{item.product.price.sale | currency}}</td>
          <td><input class="quantity-input default-bg" id="quantity" min="1" name="quantity" type="number" (change)="onQuantityChange()" [(ngModel)]="item.data.quantity"></td>
          <td>{{item.product.price.sale * item.data.quantity | currency}}</td>
        </tr>
      </tbody>
    </table>
    
    <div fxLayout="row" fxLayout.lt-md="column" *ngIf="cart.length" [@animate]="{value:'*',params:{delay: '100ms', x:'50px'}}">
      <div fxFlex></div>
      <div fxFlex="25">
        <mat-card class="m-0">
          <div class="line mb-1">
            <span class="fw-500">Subtotal:</span>
            <span fxFlex></span>
            <span class="text-muted">${{subTotal}}</span>
          </div>
          <div class="line mb-1">
            <span class="fw-500">VAT:</span>
            <span fxFlex></span>
            <span class="text-muted">{{vat}}%</span>
          </div>
          <mat-divider class=""></mat-divider>
          <div class="line mb-1 pt-1">
            <span class="fw-500">Total:</span>
            <span fxFlex></span>
            <span class="text-muted">${{total}}</span>
          </div>
          <mat-card-actions>
            <span fxFlex></span>
            <button mat-raised-button color="primary" routerLink="/shop">Back To Shop</button>
            <button mat-raised-button color="warn" routerLink="/shop/checkout">Checkout</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div *ngIf="!cart.length" [@animate]="{value:'*',params:{delay: '100ms', y:'-50px'}}">
      <mat-card class="text-center">
        <p>Your cart is empty</p>
        <button mat-raised-button color="accent" routerLink="/shop">Go Back To Shop</button>
      </mat-card>
    </div>
</div>

<div id="conformvideo" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          

          <div class="modal-header">
              <h5 class="modal-title modaleheader">Upload Video</h5>
              <button type="button" class="close modaleclose" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="row">
              <div class="col-md-12" *ngIf="embedmode != true">
                  <label style="color:#3d74d9;margin-left: 25px;font-weight:bold">
                      You can upload max size 50(Mb) video
                  </label>
              </div>
          </div>
          <div class="modal-body">
              <div id="shelfloader" *ngIf="showbutton" style="padding:80px;text-align:center;">
                  <div class="showbox">
                      <div class="loader">
                          <svg class="circular" viewBox="25 25 50 50">
                              <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                          </svg>
                      </div>
                  </div>
              </div>
              <!-- <div class="row">

                  <div class="col-md-6">
                      <select class="countryDropDown" name="dsfdsf" style="background-color: #999999; color: white; padding: 11px 5px;border-radius: 3px;" [(ngModel)]="selectcategory" (change)="sscategory(selectcategory)">
                          <option *ngFor="let category of myOptionscate" [ngValue]="category._id">
                              {{category.name}}
                          </option>
                      </select>
                  </div>
                  <div class="col-md-6" style="margin-top: -10px;">
                    
                      <ss-multiselect-dropdown *ngIf="selectcategory" [options]="myOptions1" [texts]="myTexts" [settings]="mySettings" [(ngModel)]="selectsubcategory"></ss-multiselect-dropdown>

                     
                  </div>

              </div> -->

              <!-- <div class="row" *ngIf="!embedmode">
                  <div class="col-md-12">
                      <rl-tag-input [(ngModel)]="items" placeholder="Add Tags"></rl-tag-input>

                  </div>
              </div> -->

              <div class="row" *ngIf="!embedmode && selectvideo">

                  <video id="vdFile" controls controlsList="nodownload" width="100%" height="315" >
                      <source [src]="selectvideo" type="video/mp4">
                      <source [src]="selectvideo" type="video/ogg">
                      <source [src]="selectvideo" type="video/webm">
                     
                  </video>

             </div>
              <iframe *ngIf="embedmode && youtubelink" width="100%" height="315" [src]="youtubelink" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
              <div class="row" *ngIf="uploaderprogress">

                  <div class="progress">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploaderprogress + '%' }"></div>
                  </div>

              </div>

              <div class="row" >
                  <div class="col-md-12 form-group is-empty">
                      <textarea class="form-control" type="text"  placeholder="Enter Video title Here" [(ngModel)]="Title"></textarea>
                  </div>
              </div>
              <div class="row" *ngIf="embedmode">
                  <div class="col-md-12 form-group is-empty">
                      <textarea class="form-control" *ngIf="embedmode" placeholder="Enter youtube link Here" [(ngModel)]="youtubelinkmodel" (ngModelChange)="updateSrc($event)" rows="2" cols="50"></textarea>
                     
                  </div>
              </div>

             

                  <div class="modal-footer">
                      <button type="button" class="btn btn-primary" (click)="Confirmation('1')">yes</button>
                      <button type="button" class="btn btn-secondary" (click)="Confirmation('0')">No</button>
                  </div>
              </div>

          
      </div>
  </div>
</div>