<mat-card class="p-0">
    <mat-card-content>
        <form [formGroup]="basicForm">
            <h2 class="card-title-text" >Add Articles</h2>
        
        

      
            <div fxLayout="row wrap">

                <div fxFlex="100%" fxFlex.gt-xs="100">
                    <mat-form-field class="full-width" style="margin-top:25px">
                        <input matInput name="username" formControlName="username" placeholder="Title" value="">
                    </mat-form-field>

                </div>
             </div> 
             <input type ="file" value = "choose Image"  (change) = "setFile($event)" style = "margin:15px">
         
             <quill-editor 
             theme="snow" 
             name = "description"
             formControlName="description" 
             (onContentChanged)="onContentChanged()" 
             onSelectionChanged="onSelectionChanged()"></quill-editor><br/>
           
                <button mat-raised-button color="primary" (click)="uploadToServer()" [routerLink]="['/article']">Submit</button>&nbsp;
                <button mat-raised-button color="primary" (click)="uploadToServer1()" [routerLink]="['/article']">Save
And Publish</button>
        </form>
    </mat-card-content>
</mat-card>