<footer class="footer-area ">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6">
					<div class="single-footer-widget">
						<h6>कंपनी </h6>
						<ul class="footer-nav">
								<li class ="data" (click) = indexfun()>हमारे बारे में</li>
							<li><a href="">जॉब्स </a></li>
							<li><a href="">न्यूज़ रूम </a></li>
							<li class ="data"><a (click) = funcall()>हमारी टीम </a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-footer-widget newsletter">
						<h6>हमारे इंश्योरेंस सर्विसेज </h6>
						<ul class="footer-nav">
							<li><a href="">जीवन बीमा</a></li>
								<li><a href="">कार बीमा</a></li>
								<li><a href="">स्वास्थ्य बीमा</a></li>
								<li><a href="">घर बीमा</a></li>
								<li><a href="">यात्रा बीमा</a></li>
								<li><a href="">मोटर साइकिल बीमा</a></li>
								<li><a href="">अन्य बीमा</a></li>
							
						</ul>
						
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-footer-widget newsletter">
						<h6>FAQs </h6>
						<ul class="footer-nav">
							<li><a href="">जीवन बीमा</a></li>
								<li><a href="">कार बीमा</a></li>
								<li><a href="">स्वास्थ्य बीमा</a></li>
								<li><a href="">घर बीमा</a></li>
								<li><a href="">यात्रा बीमा</a></li>
								<li><a href="">मोटर साइकिल बीमा</a></li>
								<li><a href="">अन्य बीमा</a></li>
								
							
						</ul>
						
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-footer-widget newsletter">
						<h6>सम्पर्क  </h6>
						<ul class="footer-nav">
							<li>लोकेशन : बी-१५० , ट्रिडेंट बिल्डिंग, मुंबई </li>
                                                        <li>ईमेल : info@sahibeema.com</li>	
								
							
						</ul>
						
					</div>
				</div>
				
			</div>

			<div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
				<p class="col-lg-8 col-sm-12 footer-text m-0">
                                    <img src="./assets/img/logo.png">&nbsp;&nbsp;&nbsp;&nbsp;
Copyright ©<script>document.write(new Date().getFullYear());</script>2019 All rights reserved | Subsidiary of <a href="http://protossofttech.com/sahibeema/#" target="_blank">Sahi Solutions</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
				<div class="footer-social d-flex align-items-center">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-dribbble"></i></a>
					<a href=""><i class="fa fa-behance"></i></a>
				</div>
			</div>
		</div>
	</footer>
