<section class="blog-banner-area relative" id="home" style="background-image:url(./assets/img/about.jpg)">
    <div class="overlay overlay-bg"></div>
    <div class="container">
                <div class="row  text-center d-flex align-items-center justify-content-center" style="height:400px">
            <div class="banner-content col-lg-9 col-md-12">
                <h1 class="text-uppercase">
                    हमारे बारे में 
                </h1>
                <p class="text-white">सही बीमा के बारे में जाने  </p>
                
            </div>
        </div>
    </div>
</section>


<section class="post-content-area">
		<div class="container">
                    <br>
			<div class="row">
				<div class="col-lg-8 posts-list">
					<div class="single-post row">
						
						<div class="col-lg-12 col-md-12 ">
							
							<a class="posts-title" href="blog-single.html"><h3 style="color:#3face4; font-weight: bold">हमारे बारे में </h3></a>
                                                       
                                                    
                                                        <br>
                                                        <p class="excert">
								MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money
								on boot camp when you can get the MCSE study materials yourself at a fraction.
							
								MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money
								on boot camp when you can get the MCSE study materials yourself at a fraction.
							</p>
                                                        <p class="excert">
								MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money
								on boot camp when you can get the MCSE study materials yourself at a fraction.
							</p>
                                                        <p class="excert">
								MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money
								on boot camp when you can get the MCSE study materials yourself at a fraction.
							</p>
							
						</div>
					</div>
                                    
                                    <a href="" class="imgview" ><img class="img" src="./assets/img/g2.jpg" style="width:189px"/><img src="./assets/img/lens.png" class="lens"/></a>
                                    <a href="" class="imgview"><img class="img" src="./assets/img/g2.jpg" style="width:189px"/><img src="./assets/img/lens.png" class="lens"/></a>
                                    <a href="./assets/img/g2.jpg" class="imgview"><img class="img" src="./assets/img/g2.jpg" style="width:189px"/><img src="./assets/img/lens.png" class="lens"/></a>
                                    
				</div>
				<div class="col-lg-4 sidebar-widgets">
					<div class="widget-wrap">
						<div class="single-sidebar-widget popular-post-widget">
							<h4 class="popular-title">कुछ पिक्चर्स </h4>
							<div class="popular-post-list row">
								<div class=" col-6 align-items-center">
									<div class="thumb">
										<img class="img-fluid" src="./assets/img/blog/pp1.jpg" alt="" style="width: 100%; margin-bottom: 20px">
									</div>
									
								</div>
								<div class="col-6 align-items-center">
									<div class="thumb">
										<img class="img-fluid" src="./assets/img/blog/pp2.jpg" alt="" style="width: 100%; margin-bottom: 20px">
									</div>
									
								</div>
                                                            
                                                            <div class=" col-6 align-items-center">
									<div class="thumb">
										<img class="img-fluid" src="./assets/img/blog/pp3.jpg" alt="" style="width: 100%; margin-bottom: 20px">
									</div>
									
								</div>
								<div class="col-6 align-items-center">
									<div class="thumb">
										<img class="img-fluid" src="./assets/img/blog/pp4.jpg" alt="" style="width: 100%; margin-bottom: 20px">
									</div>
									
								</div>
								
							</div>
						</div>
						
                                            <div class="single-sidebar-widget ads-widget">
                                                <a href="#"><img class="img-fluid" src="./assets/img/ad_4.jpeg" alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</div>
    </section>
    


    <section class="section-svm" style="background: #f3f3f8; padding: 40px 0">
            <div class="container">
                <div class="row">
                    <div class="svm-item">
                        <div class="svm-icon" style="background: #0f9bf4;    height: 234px;
                        line-height: 234px;
                        width: 200px;">
                            <img src="./assets/img/aa.jpg"/>
                        </div>
                        <div class="svm-detail" id="story">
                            <h4>हमारी स्टोरी </h4>
                            <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money
								on boot camp when you can get the MCSE study materials yourself at a fraction.</p>
                            <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money
								</p>
                           
                        </div>
                    </div>
                    <div class="svm-item">
                        <div class="svm-icon" style="background: #f4d10f;    height: 234px;
                        line-height: 234px;
                        width: 200px;">
                            <img src="./assets/img/vision.png"/>
                        </div>
                        <div class="svm-detail" id="vision">
                            <h4>विज़न  </h4>
                            <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money
								on boot camp when you can get the MCSE study materials yourself at a fraction.</p>
                            <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money
								</p>
                        </div>
                    </div>
                    <div class="svm-item">
                        <div class="svm-icon" style="background: #51cd1b;    height: 234px;
                        line-height: 234px;
                        width: 200px;">
                            <img src="./assets/img/mission.png"/>
                        </div>
                        <div class="svm-detail" id="mission">
                            <h4>मिशन </h4>
                            <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money
								on boot camp when you can get the MCSE study materials yourself at a fraction.</p>
                            <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money
								</p>
                            <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money
								</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-subscribe">
                <div class="container">
                    <div class="row">
                            <h3 style="text-align: center; font-weight: 600; margin-top: 40px; display: block; width: 100%">न्यूज़लेटर सब्सक्राइब करे </h3>
                            <div class="col-md-10" style="float: none; margin: auto">
                            <div id="mc_embed_signup">
                                <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                 method="get" class="form-inline">
    
                                    <div class="form-group row" style="width: 100%">
                                        <div class="col-lg-9 col-md-9">
                                            <input name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address'"
                                             required="" type="email">
                                            <div style="position: absolute; left: -5000px;">
                                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                            </div>
                                        </div>
    
                                        <div class="col-lg-3 col-md-3">
                                            <button class="nw-btn primary-btn">Subscribe<span class="lnr lnr-arrow-right"></span></button>
                                        </div>
                                    </div>
                                    <div class="info"></div>
                                </form>
                            </div>
                        </div>
                        </div>
                </div>
            </section>